:root{

    /* Primary Colors */
    --primary:#4F46E5;
    --secondary:#38BDF8;

    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;

    /* Radius */
    --radius-sm:10px;
    --radius-md:14px;
    --radius-lg:18px;

    /* Shadow */
    --shadow-light:0 8px 24px rgba(0,0,0,.08);
    --shadow-dark:0 8px 24px rgba(0,0,0,.35);

    /* Transition */
    --transition:.25s ease;
}